{% extends 'partials/main.html' %}
{% block title %}Contact{% endblock title %}

{% block body %}
  <!-- Page Content -->
  <div class="container">
    <div class="row mt-3">
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <h4>تماس و درباره</h4>
        <!-- Blog Post -->
        <div class="card shadow bg-white  border-primary border-top-0 border-right-0 border-left-0 border-width border-redi">
          
          <div class="col-md-12">
            <img class="card-img mt-4" src="/media/static/bio.svg" alt="Card image cap " width="500px" height="400px">
          </div>
            <div class="card-body">
                <p class="card-text">

                  <div class="text-muted">
                    وبلاگ نوشته شده با جنگو، 
                    فونت وزیر، فرانت بوت استرپ ۴، 
                    ایکن unicons، و ...
                  </div>
            </div>
        </div>
      </div>
      <!-- Sidebar Widgets Column -->
      {% include  'partials/sidebar.html' %}

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{% endblock %}