{% extends 'partials/main.html' %}
{% block title %}{{post.slug}}{% endblock title %}
{% block body %}
{% load jformat %}
{% load widget_tweaks %}
{% load social_share %}
  <!-- Page Content -->
  <div class="container">
    <div class="row mt-3">
      <!-- Post -->
      <div class="col-md-8">
        <br>
        <div class="card mb-3 mt-3 shadow bg-white border-primary border-top-0 border-right-0 border-left-0 border-width border-radi">
          <div>
            <img class="card-img-top my-2 rounded-lg border-radi border-width" src="{{ post.pic.url}}" alt="Card image cap" width="600" height="400">
          </div>
          <div class="card-title mx-4 my-0">
            <h2 class="card-title">{{ post.title }}</h2>
            <small class="text-muted " style="font-size: medium;"><i class="uil uil-clock"></i>{{ post.published| jformat:"%A %d %b %y"  }}</small> 
          </div>
          <div class="card-body ">
            <p class="card-text">{{ post.body | safe }}</p>
            <small class="text-muted " style="font-size: medium;"><i class="uil uil-refresh"></i>{{ post.updated | jformat:"%A %d %b %y"  }}</small> 
          </div>
        </div>
          <div class="row">
            <div class="col-md-6 my-3 ">
              <h6>اشتراک گذاری <i class="uil uil-share"></i></h6>
                  {% post_to_facebook object_or_url%}
                  {% post_to_whatsapp  object_or_url%}
                  {% post_to_twitter  object_or_url%}
                  {% post_to_telegram "{{ post.title }}" object_or_url%}
            </div>

            <div class="col-md-6 my-3">
                <h6>تگ ها <i class="uil uil-tag-alt"></i></h6> 
                  {% for tag in post.tag.all  %}
                    <a href="{% url 'home:tag' tag.slug %}" class="badge badge-primary py-2 px-2 text-white shadow">
                      <span class="font-weight-normal">{{tag}}</span>
                    </a>
                  {% endfor %}
            </div>
          </div>
      </div>
      <!-- Sidebar -->
      {% include  'partials/sidebar.html' %}
    </div>
    

    <div class="row">
      <div class="col-md-8 ">
        <div class="card shadow bg-white border-primary border-bottom-0 border-right-0 border-left-0 border-width border-radi ">
          
          <div class="px-4 py-4">
            <h6>اگه نظری داری می تونی اینجا بنویسی  <i class="uil uil-comment-alt"></i></h6>
            {% include 'home/comment.html' with url=post.slug %}

          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
