{% extends 'partials/main.html' %}
{% block title %}Home{% endblock title %}
{% load jformat %}

{% block body %}
<div class="container">
  <div class="row mt-3">

    <div class="col-md-8">
      <h4>آخرین مطالب</h4>
      {% for post in items %}
        <div class="card mb-3 shadow bg-white border-primary border-top-0 border-right-0 border-left-0 border-width border-radi">
          <div class="row">
            <div class="col-md-5">
              <img class="card-img bd-placeholder-img border-radi px-2 py-2" width="100%" height="225" src="{{post.pic.url}}" alt="photo" >
            </div>

              <div class="card-img-overlay" >
              <a href="{% url 'home:tag' post.tag.first.slug %}" >
              <span class="badge badge-secondary font-weight-normal btn-outline-primary">{{ post.tag.first }}</span> 
              </a>
              </div>

            <div class="col-md-7 px-2">
              <div class="card-body ">
                <h5 class="card-title"> {{ post.title }} | <small class="text-muted "> <i class="uil uil-clock"></i> {{ post.published | jformat:"%d %b %y" }}</small></h5>
                <p class="card-text">{{ post.body |truncatechars:150 | safe  }}</p>
                <a href="{% url 'home:detail' post.slug %}" class="badge badge-primary py-2 px-2">ادامه <i class="uil uil-arrow-left"></i></a>

              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <!-- Pagination -->
      {% include  'partials/pagination.html' %}
    </div>
    <br>
    <!-- Sidebar Widgets Column -->
    {% include  'partials/sidebar.html' %}
    
  </div>
</div>
{% endblock %}

