{% extends 'partials/main.html' %}
{% load jformat %}
{% block title %}Tags{% endblock title %}

{% block body %}

<div class="container">
  <div class="row mt-3">

    <div class="col-md-8">
      {% if items %}
       <h4> پست های مربوط به تگ {{ tag | first }}</h4>
        {% for post in items %}
          <div class="card mb-3 shadow bg-white border-primary border-top-0 border-right-0 border-left-0 border-width border-radi">
            <div class="row">
              <div class="col-md-5">
                <img class="card-img bd-placeholder-img border-radi px-2 py-2" width="100%" height="225" src="{{post.pic.url}}" alt="photo" >
              </div>

              {% for i in tag %}
                <div class="card-img-overlay" >
                <a href="{% url 'home:tag' i.slug %}" >
                <span class="badge badge-secondary font-weight-normal btn-outline-primary">{{i.name}}</span>
                </a>
                </div>
              {% endfor %}

              <div class="col-md-7 px-2">
                <div class="card-body ">
                  <h5 class="card-title"> {{ post.title }} | <small class="text-muted "> <i class="uil uil-clock"></i> {{ post.published | jformat:"%d %b %y" }}</small></h5>
                  <p class="card-text">{{ post.body |truncatechars:150 | safe  }}</p>
                  <a href="{% url 'home:detail' post.slug %}" class="badge badge-primary py-2 px-2">ادامه <i class="uil uil-arrow-left"></i></a><br>

                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        {% else %}
          <div class="mt-4 text-center">
              <h4 class="mt-4">
                  پستی برای تگ
                  {{ tag | first }}
                  پیدا نشد :(
              </h4>
              <img src="/media/static/tag_not_found.svg" class="py-4" width="100%" height="400" alt="photo">
          </div>
        {% endif %}
      <!-- Pagination -->
      {% include  'partials/pagination.html' %}
    </div>
    <br>
    {% include  'partials/sidebar.html' %}
  </div>
</div>
{% endblock %}

