{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/media/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/media/static/favicon/site.webmanifest">
    <!-- Title -->
    <title>{% block title %}{% endblock title %} | Xo</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <!-- Static CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>

<body >
    <!-- Partials Header -->
    {% include "./header.html" %}

    <!-- Partials Navigation -->
    <div class="container-fluid bg-light ">
        <!-- Navigation -->
        {% include "./navigation.html" %}

        <!-- Body -->
        {% block body %}
        {% endblock %}
        
        <!-- Partials Footer -->
        {% include './footer.html' %}
    </div>

    <!-- Dark Mode JS -->
    <script src="{% static 'js/dark-mode-switch.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Static JS -->
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>