{% load static %}
<div class="container">
  <nav class="navbar navbar-expand-lg icon-bar sticky-top navbar-light bg-white shadow rounded-lg border-radi" >
    
    <a class="navbar-brand text-white " href="{% url 'home:index' %}">
      <img src="/media/static/logo.svg" height="35" width="70" alt="LOGO">
    </a>
    
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="darkSwitch" />
      <label class="custom-control-label" for="darkSwitch"></label>
      
      <span class=>حالت شب<i class="uil uil-moon"></i></span>
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-dark"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarColor01">
      <ul class="navbar-nav mr-auto ml-4 ">
        <li class="nav-item active">
          <a class="nav-link text-dark" href="{% url 'home:index' %}">صفحه اول <i class="uil uil-home-alt"></i><span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link text-dark " href="{% url 'home:tag' "videocast" %}">ویدیو کست</a>
        </li> -->
        <li class="nav-item ">
          <a class="nav-link active text-dark get-started-btn scrollto" href="{% url 'home:contact' %}">تماس و درباره <i class="uil uil-user-square"></i></a>
        </li> 
      </ul>
      
      <form class="form-inline my-2 my-lg-0 " accept-charset="utf-8" method="GET" action="{% url 'home:search' "null" %}">
        <input class="form-control mr-sm-2 bg-light" type="text" placeholder="سرچ" name="q" value="{{ request.GET.q }}">
        <button class="btn btn-secondary my-2 my-sm-0 bg-primary " type="submit">
          <i class="uil uil-search"></i></button>
      </form>
      
    </div>
    
  </nav>
</div>