
    <nav aria-label="Page navigation example ">
        {% if items.has_other_pages %}
            <ul class="pagination justify-content-center">
                {% if items.has_previous%}
                    <li class="page-item bg-white ">
                        <a class="page-link bg-white" href="{{ request.path }}?page={{ items.previous_page_number}}"><i class="uil uil-arrow-circle-right"></i></i></a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link bg-white" href="#"><i class="uil uil-arrow-circle-right"></i></a>
                    </li>
                {% endif %}

                {% for i in items.paginator.page_range %}
                    {% if items.number == i %}
                        <li class="page-item disabled">
                            <a class="page-link bg-white" href="#">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item ">
                            <a class="page-link bg-white" href="{{ request.path }}?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if items.has_next %}
                    <li class="page-item">
                        <a class="page-link bg-white" href="{{ request.path }}?page={{ items.next_page_number}}"><i class="uil uil-arrow-circle-left"></i></a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link bg-white" href="#"><i class="uil uil-arrow-circle-left"></i></a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}

    </nav>