{% load jformat %}

<div class="col-md-4 mt-3">
    <!-- Search Widget -->
    <div class="card my-4 shadow bg-white border-primary border-top-0 border-right-0 border-bottom-0 border-width border-radi">
      <div class="card-body ">
        <h5><span class="border-bottom border-line ">اینجا ها هم هستم <i class="uil uil-share-alt"></i></span></h5><br>
        <div class="row">
          <div class="col-lg-12 list-group pl-3">
            <ul class="list-unstyled mb-0 text-center ">
              <li><a href="#" class=" border-0 shadow-sm rounded-pill mb-1 btn btn-outline-danger btn-block mb-2 py-2">
                یوتیوب(بزودی)
                <i class="uil uil-youtube"></i>
                </a>
              </li>
              <li><a target="_blank" href="https://www.instagram.com/omixoid/" class=" border-0 shadow-sm rounded-pill mb-1 btn btn-outline-secondary btn-block mb-2 py-2">اینستاگرام
                <i class="uil uil-instagram"></i>
              </a></li>
              <li><a target="_blank" href="https://t.me/omixoid/" class=" border-0 shadow-sm rounded-pill mb-1 btn btn-outline-primary btn-block mb-2 py-2">تلگرام
                <i class="uil uil-telegram-alt"></i>
              </a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <!-- Rigester Email
    <div class="form-group ">
      <label for="exampleInputEmail1">برای دریافت مطالب ایمیلتو وارد کن !</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ایمیل">
      <small id="emailHelp" class="form-text text-muted"></small>
      <button type="submit" class="btn btn-primary">ثبت</button>
    </div> -->


    <!-- Tag Widget -->
    <div class="card my-4 shadow bg-white border-primary border-top-0 border-right-0 border-bottom-0 border-width border-radi">
      <div class="card-body">
        <h5><span class="border-bottom border-line ">تگ ها<i class="uil uil-tag-alt"></i></span></h5><br>
        <div class="row">
          <div class="col-lg-12">
            {% for tag in tags %}
            <a href="{% url 'home:tag' tag.slug %}" class="badge badge-primary py-1 text-white">
              <span class="font-weight-normal">{{tag.name}}</span>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    
    <div class="card my-4 bg-white shadow border-primary border-top-0 border-right-0 border-bottom-0 border-width border-radi">
     
      <div class="card-body ">
        <h5><span class="border-bottom border-line ">مطالب پیشنهادی <i class="uil uil-thumbs-up"></i></span></h5><br>
        {% for post in recommend %} 
          <ol class="list-unstyled ">
              <li><a href="{% url 'home:detail' post.slug %}" class="non-underline-link text-primary">{{ post.title }} </a></li>
          </ol>
        {% endfor %}
      </div>
    </div>
</div>