@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot') format('embedded-opentype'),
         url('../fonts/Vazir.woff2') format('woff2'),
         url('../fonts/Vazir.woff') format('woff'),
         url('../fonts/Vazir.ttf') format('truetype');
}


.non-underline-link{
    text-decoration: none !important;
 }

body {
    font-family: Vazir;
    
}

[data-theme="dark"] {
    background-color: #6C757D !important;
    color: #eee;
  }

  [data-theme="dark"] .bg-white {
    background-color: #272727 !important;
  }
  [data-theme="dark"] .text-dark{
    color: #ffffff !important;
  }

  [data-theme="dark"] .bg-light {
    background-color: #252525 !important;
  }
  
  [data-theme="dark"] .bg-black {
    background-color: #eee !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-style: normal;
}

.border-width {
    border-width:5px !important;
}

.border-radi{
    border-radius: 10px;
}

.border-line {
    border-width:3px !important;
}


.switch {
    position: relative;
    display: inline-block;
    width: 53px;
    height: 28px;
  }
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
border-radius: 50%;
}