{% extends 'partials/main.html' %}
{% block title %}500{% endblock title %}

{% block body %}
  <!-- Page Content -->
<div class="container">
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="mt-4 text-center">
        <h4 class="text-center">باگ ها سرور رو زمین زدن :/ بعدا دوباره تلاش کن!</h4>
        <img src="/media/static/500.svg" class="py-4" width="100%" height="550px" alt="photo">
      </div>
    </div>
  </div>
</div>
{% endblock %}